################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestProject2/.vs/TestProject2/v15
/TestProject4/.vs/TestProject4/v15
/TestProject5/.vs
/TestProject6/.vs/TestProject6/v15/Server/sqlite3
